---
import hljs from "highlight.js";

const html = hljs.highlight(
  `
defmodule CoffeeCounter do
  use GenServer

  def start_link(init_value) do 
    GenServer.start_link(__MODULE__, init_value)
  end
  
  def increment(pid) do 
    GenServer.call(pid, :increment)
  end

  def init(value), do: {:ok, value}
  def handle_call(:increment, _from, state) do 
    {:reply, state + 1, state + 1}
  end
end

{:ok, counter_pid} = CoffeeCounter.start_link(0)
coffees_had = CoffeeCounter.increment(counter_pid)
`,
  { language: "elixir" }
).value;
---

<div class="col-span-3 lg:col-span-1 flex flex-col">
  <h3 class="text-3xl mt-3 lg:mt-0 mb-3 text-purple-400 text-center">
    Backend
  </h3>
  <div class="bg-gray-800 rounded-md p-4 flex-1">
    <pre class="overflow-x-scroll" set:html={html} />
  </div>
</div>
